{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Answer{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>Questions</h3>

<div>
    <form method="post">
    {% for q in tf %}
    <div class = "button_look_2" >
        <div class = "yes_button" onclick="buttonYes(this)"> Yes</div>
        <div class = "no_button" onclick="buttonNo(this)">No</div>
        <div class = "button_question_2" onclick="buttonReset(this)" ><p>{{ q }}</p></div>
        <div class = "current_answer"><p></p></div>
        <!-- <div class = "button_misc">  -->
            <textarea name = "tf_answer_{{loop.index}}" class = "current_answer_2">{{request.form['tf_answer_'+loop.index|string]}}</textarea>
        <!-- </div> -->
    </div>
    {% endfor %}
    
    {% for q in lf %}
    <div class = "freeform_look_1">
        <div class = "freeform_question">{{q}}</div>
        <div class = "freeform_entry">
                <!-- <label for="fname">First name:</label><br> -->
                <textarea name = "lf_answer_{{loop.index}}" class = "longform_input" id="input_{{loop.index}}" rows="4" cols="50" >{{request.form['lf_answer_'+loop.index|string]}}</textarea>
        </div>
    </div>
    {% endfor %}


        <div class = "button_holder">
            <input type = "submit" class = "button_submit" value = "submit!">    
            <!-- <div class = "button_submit">Submit</div> -->
        </div>
    </form>
</div>
{% endblock %}