<!doctype html>
<title>{% block title %}{% endblock %} - Helpr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='selfHelp.css') }}">

<script type="text/javascript"
         src="{{ url_for('static', filename='selfHelp.js') }}"></script>
<nav>
  <h1>Helpr</h1>
  <ul>
      <li>NavBar Line</a>
      <li>NavBar Line</li>
      <li><a href = "{{url_for('answer')}}">Answer</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
